# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.Scarle2020.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\zackj\repos\uni\GEP-2021-RED\.idea\.idea.Scarle2020\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
